/*** Provide spacing between Title and footer content ***/

.footer {
    margin-top: 2rem;
}

/*** Center motto at the bottom of the page ***/

.footer__row--bottom {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*** Each contact information piece title ***/

.footer__row__list__label {
    padding-left: 1rem;
    font-weight: bold;
}

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
}

/* Larger than tablet */
@media (min-width:750px) {
}

/* Larger than desktop */
@media (min-width:1000px) {
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}