.footer {
    margin-top: 2rem;
}
.footer__row--bottom {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.footer__row__list {
    list-style: none;
}

.footer__row__list__label {
    padding-left: 1rem;
    font-weight: bold;
}

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
    .footer__row__list__label {
        padding-left: 0.3rem;
    }
}

/* Larger than tablet */
@media (min-width:750px) {
    .footer__row__list__label {
        padding-left: 1rem;
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}