.footer {
    border-top: $footer--border;
    border-left: $footer--border;
    border-right: $footer--border;
    background-color: $footer--background;
    margin-top: 2rem;
    height: 8em;
    position: relative;
}
.footer__row--bottom {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.footer__row__list {
    list-style: none;
}
.--no-margin-or-padding {
    margin: 0;
    padding: 0;
}
.footer__row__list__label {
    padding-left: 1rem;
    font-weight: bold;
}

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
    .footer {
        height: 7em;
    }
    .footer__row__list__label {
        padding-left: 0.3rem;
    }
}

/* Larger than tablet */
@media (min-width:750px) {
    .footer {
        height: 5em;
    }
    .footer__row__list__label {
        padding-left: 1rem;
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}