/*** Bump size of code block text ***/

pre {
    font-size: 2rem;
}

/*** Links ***/
a {
    color: $color--link;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $color--link--hover;
    }
}

/*** Adds space above an element when necessary ***/
.--has-spacing--top {
    margin-top: 2rem;
}

/*** Removes space below an element when necessary ***/
.--no-spacing--bottom {
    margin-bottom: 0rem;
}

/*** Simple border to use whenever ***/
.--simple-border {
    border: 1px solid $color--gray;
}

/*** Remove list styling when needed ***/
.--no-list-style {
    list-style: none;
}

/*** All text should get these fonts ***/
.--text {
    font-family: $font-stack;
}

/*** Remove this element on narrow screens (see media query below) ***/
.--disappear-when-narrow {
    display: none;
    @include breakpoint(small) {
        display: block;
    }
}

@include breakpoint(large) {
    .--bump-text-size {
        font-size: 2rem;
    }
}