.--has-spacing--top {
    margin-top: 2rem;
}
.--no-spacing--bottom {
    margin-bottom: 0rem;
}
.--simple-border {
    border: 1px solid $color--gray;
}
.--link {
    color: $color--dark-gray;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $color--link--hover;
    }
}

.--no-margin-or-padding {
    margin: 0;
    padding: 0;
}

.--no-list-style {
    list-style: none;
}

/* Larger than phablet */
@media (min-width:550px) {
    .--vertically-centered {
        display: flex;
        align-items: center;
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
    .--bump-text-size {
        font-size: 2rem;
    }
}