/*** Adds space above an element when necessary ***/

.--has-spacing--top {
    margin-top: 2rem;
}

/*** Removes space below an element when necessary ***/

.--no-spacing--bottom {
    margin-bottom: 0rem;
}

/*** Simple border to use whenever ***/

.--simple-border {
    border: 1px solid $color--gray;
}

/*** Links ***/

a {
    color: $color--dark-gray;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $color--link--hover;
    }
}

/*** Remove list styling when needed ***/

.--no-list-style {
    list-style: none;
}

/*** All text should get these fonts ***/

.--text {
    font-family: $font-stack;
}

/*** Remove this element on narrow screens (see media query below) ***/

.--disappear-when-narrow {
    display: none;
}

/* Larger than phablet */
@media (min-width:550px) {
    /*** Screen is wide enough to display these elements ***/
    .--disappear-when-narrow {
        display: block;
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
    /*** Apply to some text so that it fills space and looks better on big
    screens ***/
    .--bump-text-size {
        font-size: 2rem;
    }
}