.graphic {
    position: relative;
    z-index: 0;
}
.graphic--has-spacing {
    padding-top: 8vw;
    padding-bottom: 18vw;
}
.graphic--has-spacing--medium {
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.graphic__thick-line {
    height: 25rem;
    border: 1px solid $color--black;
    position: relative;
}
.graphic__straight-lines {
    height: 3rem;
    position: relative;
    border-top: 1rem solid $color--black;
    border-bottom: 1.5rem solid $color--black;
}
.graphic--yellow {
    background-color: $graphic--yellow;
}
.graphic--rotated15 {
    transform: rotate(-15deg);
    left: -40%;
    width: 200%;
}
.graphic__many-diagonals {
    height: 20rem;
    // background-color: gray;
    position: relative;
    overflow: hidden;
}
.graphic__many-diagonals__diagonal {
    display: inline-block;
    height: 20rem;
    box-sizing: border-box;
    background-color: $graphic--yellow;
    border: 1px solid $color--black;
    width: 2rem;
    position: relative;
    transform: rotate(-10deg);
}
.graphic__many-diagonals__diagonal + .graphic__many-diagonals__diagonal {
    margin-left: 2rem;
}

/*** Media Queries ***/

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
    .graphic--has-spacing {
        padding-bottom: 14vw;
    }
    .graphic__many-diagonals__diagonal + .graphic__many-diagonals__diagonal {
        margin-left: 4rem;
    }
}

/* Larger than tablet */
@media (min-width:750px) {
    .graphic__many-diagonals__diagonal + .graphic__many-diagonals__diagonal {
        margin-left: 5rem;
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
    .graphic__many-diagonals__diagonal + .graphic__many-diagonals__diagonal {
        margin-left: 6.5rem;
    }
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}