/*** Navigation bar has a top and bottom border and places the text in the
middle vertically using padding ***/
.navbar {
    border-top: $navbar--border;
    border-bottom: $navbar--border;
    padding: 1rem 0;
    height: 2.8rem;
}

/*** Navbar items should appear side by side and not in a vertical list ***/
.navbar__item {
    display: inline;
}

/*** The dropdown that is opened when clicking on the appropriate navbar item.
Hidden by default. ***/
.navbar__projects__dropdown {
    display: none;
    position: absolute;
    // Required to not upset the rest of the flow.
    margin: 1.4rem 0 0 0;
    min-width: 13em;
    // Allow space for words.
    border: 1px solid $color--gray;
}

/*** Styling for text inside the dropdown for for projects ***/
.navbar__projects__dropdown__title {
    font-size: 1.6rem;
    margin: 0.5rem 0 1rem 1rem;
}

/*** The button that allows you to scroll all the way up that appears only when
we scroll past the navbar ***/
.back-to-top {
    display: none;
    right: 6%;
    bottom: 2%;
    padding: 1rem 2.5rem;
    border: 1px solid $color--gray;
    border-radius: 35%;
    font-size: 3rem;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    background: $color--light-gray;

    &:hover {
        background: $color--gray;
    }
}

/*** There is space between the navbar items, but no space before the first one ***/
.navbar__item + .navbar__item {
    margin-left: 2rem;
}

/*** Add this class to reveal the dropdown ***/
.navbar__projects__dropdown.--show {
    display: block;
    z-index: 2;
}

/*** Apply when showing the back to top button ***/
.back-to-top.--show {
    display: block;
    z-index: 2;
}

/*** Media Queries ***/

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
}

/* Larger than tablet */
@media (min-width:750px) {

    /*** Can position the button inside the main content area instead of the
    margin on larger screens. ***/
    .back-to-top {
        right: 15%;
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}