.project__image {
    transition: box-shadow .2s, transform .2s ease-in-out;

    @include breakpoint(average) {
        &:hover {
            box-shadow: 1px 0.25vw 5px #888888;
            transform: translate3d(0, -0.5vw, 0);
        }
    }
}
.project__list {
    padding: 2rem 0;

    @include breakpoint(large) {
        font-size: 2rem;
    }
}