/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/tables";
@import "modules/spacing";
@import "modules/media-queries";

/*** Contents ***/

/*
    Header
    Navigation

    Media Queries
 */

/* Mobile first queries */

$font-stack: "Lora", serif;

body {
    // overflow-x: hidden;
}

/*** Header ***/
.container {
    z-index: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.text {
    font-family: $font-stack;
}
.title {
    font-size: 7rem;
    line-height: 1;
    padding: 0;
    margin: 0;
}
.title__line {
    margin: 0;
    padding: 0;
    height: 1px;
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
}
.subtitle {
    padding-left: 4rem;
}
.subtitle__bottom {
    padding-left: 4rem;
}
.graphic {
    position: relative;
    // z-index: 0;
    // overflow-x: hidden;
    // height: 100%;
}
.graphic--close-to-top {
    padding-top: 8vw;
    padding-bottom: 14vw;
}
.graphic__top {
    height: 25rem;
    border: 1px solid #000;
    position: relative;
    left: -40%;
    width: 200%;
}
.graphic--yellow {
    background-color: yellow;
}
.graphic--rotated15 {
    transform: rotate(-15deg);
}

/*** Navigation ***/

$navbar--border: 1px solid #888;

$navbar__item--hover: #c0f;

.navbar {
    border-top: $navbar--border;
    border-bottom: $navbar--border;
    padding: 1rem 0;
    position: relative;
    height: 2.8rem;
}
.navbar__item {
    display: inline;
    cursor: pointer;

    &:hover {
        color: $navbar__item--hover;
        text-shadow: 0 -1em #DDD;
    }
}

.navbar__item--absolute {
    position: absolute;
}

.navbar__item + .navbar__item {
    margin-left: 2rem;
}

/*** Media Queries ***/

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
    // .graphic--close-to-top {
    //     padding-top: 28vw;
    // }
}

/* Larger than tablet */
@media (min-width:750px) {
    .title__lastname {
        padding-left: 4rem;
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}