/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/tables";
@import "modules/spacing";
@import "modules/media-queries";

/*** Contents ***/

/*
    Header
    Graphics
    Navigation
    Footer
    Media Queries
 */

/* Mobile first queries */

$font-stack: "Lora", serif;
$graphic--yellow: #ee0;
$color--black: #000;

.columns.desktop--six {
        width: 100%;
        margin-left: 0;
    }

/*** Header ***/
.container {
    z-index: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.text {
    font-family: $font-stack;
}
.title {
    font-size: 7rem;
    line-height: 1;
    padding: 0;
    margin: 0;
}
.title__line {
    margin: 0;
    padding: 0;
    height: 1px;
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
}
.subtitle {
    padding-left: 4rem;
}
.subtitle__bottom {
    padding-left: 4rem;
}

/*** Graphics ***/

.graphic {
    position: relative;
}
.graphic--has-spacing {
    padding-top: 8vw;
    padding-bottom: 18vw;
}
.graphic--has-spacing--small {
    padding-bottom: 6vw;
}
.graphic__thick-line {
    height: 25rem;
    border: 1px solid $color--black;
    position: relative;
}
.graphic__straight-lines {
    height: 3rem;
    position: relative;
    border-top: 1rem solid $color--black;
    border-bottom: 1.5rem solid $color--black;
}
.graphic--yellow {
    background-color: $graphic--yellow;
}
.graphic--rotated15 {
    transform: rotate(-15deg);
    left: -40%;
    width: 200%;
}

/*** Navigation ***/


$navbar--border: 1px solid #888;
$navbar__item--hover: #c0f;
$navbar__item--hover--shadow: #ddd;

.navbar {
    border-top: $navbar--border;
    border-bottom: $navbar--border;
    padding: 1rem 0;
    position: relative;
    height: 2.8rem;
}
.navbar__item {
    display: inline;
    cursor: pointer;

    &:hover {
        color: $navbar__item--hover;
        text-shadow: 0 -1em $navbar__item--hover--shadow;
    }
}
.navbar__item--absolute {
    position: absolute;
}
.navbar__item + .navbar__item {
    margin-left: 2rem;
}

/*** Projects ***/

.project__image {
    transition: box-shadow .2s, transform .2s ease-in-out;
}

.project__list {
    padding: 2rem 0;
}

/*** Footer ***/

$footer--background: #eee;
$footer--border: 1px solid $color--black;

.footer {
    border-top: $footer--border;
    border-left: $footer--border;
    border-right: $footer--border;
    background-color: $footer--background;
    height: 10rem;
    position: relative;
}

.footer__row--bottom {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

/*** Media Queries ***/

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
    .graphic--has-spacing {
        padding-bottom: 14vw;
    }
    .--vertically-centered {
        display: flex;
        align-items: center;
    }
}

/* Larger than tablet */
@media (min-width:750px) {
    .title__lastname {
        padding-left: 4rem;
    }
    .columns.desktop--six {
        width: grid-column-width(6);
    }

    .u-pull-left.project__image {
    &:hover {
        box-shadow: -1vw 1px 5px #888888;
        transform: translate3d(2vw, 0, 0);
    }
}

.u-pull-right.project__image {
    &:hover {
        box-shadow: 1vw 1px 5px #888888;
        transform: translate3d(-2vw, 0, 0);
    }
}
}

/* Larger than desktop */
@media (min-width:1000px) {
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}