/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
// @import "modules/buttons";
// @import "modules/forms";
@import "modules/lists";
// @import "modules/code";
// @import "modules/tables";
// @import "modules/spacing";
// @import "modules/media-queries";

/*** Contents ***/

/*
    General
    Header
    Graphics
    Navigation
    Footer
    Media Queries
*/

/* Mobile first queries */
$font-stack: "Lora", serif;
$graphic--yellow: #ee0;
$color--black: #000;
$color--gray: #aaa;
$color--dark-gray: #666;
$color--link--hover: #c0f;

/*** General ***/
.--has-spacing--top {
    margin-top: 2rem;
}
.--no-spacing--bottom {
    margin-bottom: 0rem;
}
.--simple-border {
    border: 1px solid $color--gray;
}
.--link {
    color: $color--dark-gray;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $color--link--hover;
    }
}

/* Larger than phablet */
@media (min-width:550px) {
    .--vertically-centered {
        display: flex;
        align-items: center;
    }
}

/*** Header ***/
.container {
    z-index: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.text {
    font-family: $font-stack;
}
.title {
    font-size: 7rem;
    line-height: 1;
    padding: 0;
    margin: 0;
}
.title__line {
    margin: 0;
    padding: 0;
    height: 1px;
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
}
.subtitle {
    padding-left: 4rem;
}
.subtitle__bottom {
    padding-left: 4rem;
}

/*** Media Queries ***/

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
}

/* Larger than tablet */
@media (min-width:750px) {
    .title__lastname {
        padding-left: 4rem;
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}

/*** Navigation ***/
$navbar--border: 1px solid #888;
$navbar__item--hover: $color--link--hover;
$navbar__item--hover--shadow: #ddd;

.navbar {
    border-top: $navbar--border;
    border-bottom: $navbar--border;
    padding: 1rem 0;
    position: relative;
    height: 2.8rem;
}
.navbar__item {
    display: inline;
    position: relative;
}
.navbar__item + .navbar__item {
    margin-left: 2rem;
}
.navbar__item__dropdown.--show {
    display: block;
}
.navbar__projects__dropdown {
    display: none;
    position: absolute;
    margin: 1.4rem 0 0 0;
    min-width: 13em;
    border: 1px solid $color--gray;
}
.navbar__projects__dropdown.--show {
    display: block;
    z-index: 2;
}
.navbar__projects__dropdown__link {
    @extend .--link;
    position: relative;
}
.navbar__projects__dropdown__link__title {
    font-size: 1.6rem;
    margin: 0.5rem 0 1rem 1rem;
}
.back-to-top {
    display: none;
    right: 8%;
    bottom: 5%;
    padding: 1rem 2.5rem;
    border: 1px solid $color--gray;
    border-radius: 35%;
    font-size: 3rem;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    background: #DDD;

    &:hover {
        background: $color--gray;
    }
}
.back-to-top.--show {
    display: block;
    z-index: 2;
}

/*** Media Queries ***/

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
}

/* Larger than tablet */
@media (min-width:750px) {
    .back-to-top {
        right: 15%;
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}

/*** Graphics ***/
.graphic {
    position: relative;
    z-index: 0;
}
.graphic--has-spacing {
    padding-top: 8vw;
    padding-bottom: 18vw;
}
.graphic--has-spacing--medium {
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.graphic__thick-line {
    height: 25rem;
    border: 1px solid $color--black;
    position: relative;
}
.graphic__straight-lines {
    height: 3rem;
    position: relative;
    border-top: 1rem solid $color--black;
    border-bottom: 1.5rem solid $color--black;
}
.graphic--yellow {
    background-color: $graphic--yellow;
}
.graphic--rotated15 {
    transform: rotate(-15deg);
    left: -40%;
    width: 200%;
}
.graphic__many-diagonals {
    height: 20rem;
    // background-color: gray;
    position: relative;
    overflow: hidden;
}
.graphic__many-diagonals__diagonal {
    display: inline-block;
    height: 20rem;
    box-sizing: border-box;
    background-color: $graphic--yellow;
    border: 1px solid $color--black;
    width: 2rem;
    position: relative;
    transform: rotate(-10deg);
}
.graphic__many-diagonals__diagonal + .graphic__many-diagonals__diagonal {
    margin-left: 2rem;
}

/*** Media Queries ***/

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
    .graphic--has-spacing {
        padding-bottom: 14vw;
    }
    .graphic__many-diagonals__diagonal + .graphic__many-diagonals__diagonal {
        margin-left: 4rem;
    }
}

/* Larger than tablet */
@media (min-width:750px) {
    .graphic__many-diagonals__diagonal + .graphic__many-diagonals__diagonal {
        margin-left: 5rem;
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
    .graphic__many-diagonals__diagonal + .graphic__many-diagonals__diagonal {
        margin-left: 6.5rem;
    }
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}

/*** Projects ***/
.project__image {
    transition: box-shadow .2s, transform .2s ease-in-out;
}
.project__list {
    padding: 2rem 0;
}

/*** Media Queries ***/

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
}

/* Larger than tablet */
@media (min-width:750px) {
    .project__image {
        &:hover {
            box-shadow: 1px 0.25vw 5px #888888;
            transform: translate3d(0, -0.5vw, 0);
        }
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
    .project__list {
        font-size: 2rem;
    }
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}

/*** About Me ***/

/* Larger than desktop */
@media (min-width:1000px) {
    .about-me {
        font-size: 2rem;
    }
}

/*** Footer ***/
$footer--background: #eee;
$footer--border: 1px solid $color--black;
$footer__link--hover: $color--link--hover;

.footer {
    border-top: $footer--border;
    border-left: $footer--border;
    border-right: $footer--border;
    background-color: $footer--background;
    margin-top: 2rem;
    height: 8em;
    position: relative;
}
.footer__row--bottom {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.footer__row__list {
    list-style: none;
}
.--no-margin-or-padding {
    margin: 0;
    padding: 0;
}
.footer__row__list__label {
    padding-left: 1rem;
    font-weight: bold;
}

/* Larger than mobile */
@media (min-width:400px) {
}

/* Larger than phablet */
@media (min-width:550px) {
    .footer {
        height: 7em;
    }
    .footer__row__list__label {
        padding-left: 0.3rem;
    }
}

/* Larger than tablet */
@media (min-width:750px) {
    .footer {
        height: 5em;
    }
    .footer__row__list__label {
        padding-left: 1rem;
    }
}

/* Larger than desktop */
@media (min-width:1000px) {
}

/* Larger than Desktop HD */
@media (min-width:1200px) {
}